# Web Framework
streamlit

# NLP
spacy

# File Reading
PyMuPDF
python-docx

# PDF Export
fpdf2

# AI / LLM
groq

# Language Detection & Translation
langdetect
deep-translator

# Environment Variables
python-dotenv

# Utilities
requests